version: '3.8'
services:
  db_dev:
    image: postgres:13
    restart: always
    ports:
      - 127.0.0.1:5432:5432
    env_file:
      - .env
    volumes:
      - ./pg_data:/var/lib/postgresql/data/pgdata
